body {
    /* Location of the image */
    background-image: url(images/backcupcake.jpg);
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when
    the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: #464646;
    }

    .chg-quantity{
        width: 15px;
        cursor: pointer;
        display: block;
        transition:.1s;
    }
    
    .chg-quantity:hover{
        opacity: .6;
    }
    .quantity{
        display: inline-block;
        font-weight: 700;
        padding-left:10px;
    }

    .totals{
        color: beige;
    }
   
    .box-element{
        box-shadow:hsl(0, 0%, 80%) 0 0 16px;
        background-color: #fff;
        border-radius: 4px;
        padding: 10px;
    }


  