<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/checkoutDS.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/cartsDS.css" %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sachleen Kaur">
    <meta name="email" content="kaur0777@algonquinlive.com">
    <script type="text/javascript">
        {% comment %} Code sourced from : https://www.youtube.com/watch?v=obZMr9URmVI&list=PL-51WBLyFTg0omnamUjL1TCVov7yDTRng&index=2 {% endcomment %}
        var user = '{{request.user}}'

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');

        function getCookie(name) {
            //Split cookie string and get all individual name=value pair in an array
            var cookieArr = document.cookie.split(";");

            //loop through the array elements 
            for(var i=0; i<cookieArr.length; i++){
                var cookiePair = cookieArr[i].split("=");

                /*Removing whitespace at the beginning of the cookie name and
                compare it with the given string */
                if(name == cookiePair[0].trim()){
                    //Decode the cookie valye and return
                    return decodeURIComponent(cookiePair[1]);
                }
            }

            //Return null if not found
            return null;
        }
        var cart = JSON.parse(getCookie('cart'))

        if(cart == undefined){
            cart = {}
            console.log('cart was created')
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }

        console.log('Cart;', cart )
    </script>
    <!-- <script src="inspiration.js"></script> -->
    <title>Checkout Page</title>
</head>

<body class="container" style="background-image: url('{% static "images/backcupcake.jpg" %}'); 
background-position: center;">



    <div class="container" >
        <h1 style="text-align: center; color: aliceblue;">Checkout</h1>
        <div class="col-75">
            <div class="container" >
                <a class="btn btn-secondary" href="{% url 'chbs:cart' %}">&#8592; Back to cart</a>
                <br><br>
                <form action="" id="form">

                    <div class="row">
                        <div class="col-25">
                            <div class="container" style="background-color: aliceblue;">
                                <h4>Cart
                                    <span class="price" style="color:black">
                                        <i class="fa fa-shopping-cart"></i>
                                        <b>{{order.get_cart_items}}</b>
                                    </span>
                                </h4>
                                {% for item in items %}
                                <p><strong>{{item.product.name}} [{{item.quantity}}]</strong> <span class="price">${{item.get_total|floatformat:2}}</span></p>
                               
                                {% endfor %}
                                <hr>
                                <p>Subtotal <span class="subtotal price" style="color:#c59a6c"><b>${{order.get_cart_subtotal|floatformat:2}}</b></span></p>
                                <p>Taxes & other fees <span class="price" style="color:#c59a6c"><b>${{order.get_cart_tax|floatformat:2}}</b></span></p>
                                <p>Total <span class="price" style="color:#c59a6c"><b>${{order.get_cart_total|floatformat:2}}</b></span></p>
                            </div>
                            <div class="box-element hidden" id="payment-info">
                                <small style="text-align: center;">Payment Option</small>
                                <button class="btn" id="make-payment"> Make Payment</button>
                            </div>
                        </div>

                       

                        <div class="col-50" id="form-wrapper">
                            <h2 style="color: #f7f7f7;">Billing Address</h2>
                            <div id="user-info" >
                            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                            <input type="text" id="fname" name="fullname" placeholder="Meghan M. Doe" required>
                            <label for="email"><i class="fa fa-envelope"></i> Email</label>
                            <input type="text" id="email" name="email" placeholder="meghan@example.com" required>
                            <label for="phone"><i class="fa fa-phone"></i> Phone Number</label>
                            <input type="tel" id="phone" name="phone" placeholder="000 000 0000" required>
                            <label for="myText"> <i class="fa fa-envelope"></i> Special Instructions:</label>
                            <input type="text" id="myText" name="myText" placeholder="Allergies, dietary restrictions, notes.">
                        </div>
                            <div id="shipping-info">
                            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                            <input type="text" id="adr" name="address" placeholder="1385 Woodroffe Ave" required>
                            <label for="city"><i class="fa fa-institution"></i> City</label>
                            <input type="text" id="city" name="city" placeholder="Ottawa" required>
                            

                            <div class="row">
                                <div class="col-55">
                                  <label for="province">Province</label>
                                  <input type="text" id="province" name="province" placeholder="NY" required>
                                </div>
                                <div class="col-55">
                                  <label for="postal">Postal Code</label>
                                  <input type="text" id="postal" name="postal" placeholder="10001" required>
                                </div>
                              
                            </div>
                        </div>

                    </div>
                    <input id="form-button" type="submit" value="Continue to checkout" class="btn" href="{% url 'chbs:cart' %}">
                </form>
            </div>
        </div>


    </div>

    <script type="text/javascript">
        {% comment %} Code sourced from : https://www.youtube.com/watch?v=obZMr9URmVI&list=PL-51WBLyFTg0omnamUjL1TCVov7yDTRng&index=2 {% endcomment %}
        var shipping = '{{order.shipping}}'
        var total = "{{order.get_cart_total}}"
        var cartItems = "{{order.get_cart_items}}"

        if(shipping == 'False'){
            document.getElementById('shipping-info').innerHTML = ''
        }

        if( user != 'AnonymousUser'){
            document.getElementById('user-info').innerHTML = ''
            
        }

        if(shipping == 'False' && user != 'AnonymousUser'){
            document.getElementById('form-wrapper').classList.add("hidden");
            document.getElementById('payment-info').classList.remove("hidden");
        }

        if(cartItems == 0 && (user != 'AnonymousUser' || user == 'AnonymousUser')){
            document.getElementById('form-wrapper').classList.add("hidden");
            document.getElementById('form-button').classList.add("hidden");
            document.getElementById('payment-info').classList.add("hidden");
        }

        var form = document.getElementById('form')
        form.addEventListener('submit', function(e){
            e.preventDefault()
            console.log('Form Submitted...')
            document.getElementById('form-button').classList.add('hidden')
            document.getElementById('payment-info').classList.remove('hidden')
        })

        document.getElementById('make-payment').addEventListener('click', function(e){
            e.preventDefault()
            submitFormData()
        })

        // send the form data to the backemd to process the order
        function submitFormData(){
            console.log('Payment button clicked')

            // stores user data
            var userFormData = {
                'name': null,
                'email': null,
                'phone': null,
                'total':total
            }

            // stores users shipping data
            var shippingInfo = {
                'address': null,
                'city': null,
                'province':null,
                'postal':null,
            }

            if (shipping != 'False'){
                shippingInfo.address = form.address.value
                shippingInfo.city = form.city.value
                shippingInfo.province = form.province.value
                shippingInfo.postal = form.postal.value
            }

            
            if(user == 'AnonymousUser'){
                userFormData.name = form.fullname.value
                userFormData.phone = form.phone.value
                userFormData.email = form.email.value
            }

            var url = '/process_order/'
            fetch(url, {
                method:'POST',
                headers:{
                    'Content-Type':'application/json', 
                    'X-CSRFToken': csrftoken, 
                },
                body:JSON.stringify({'form': userFormData, 'shipping': shippingInfo})
            })
            .then((response) => response.json())
            .then((data) => {
                console.log('Success:', data);
                alert('Transaction completed');

                cart = {}
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
                window.location.href = "{% url 'chbs:homepage' %}"
            })
        }
    </script>
</body>
</html>